@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;500;600&family=Trykker&family=Comfortaa:wght@400;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    html, body{
        @apply selection:bg-violet-500 selection:text-white
    }
}

html, body{
    height: 100%;
}
#root{
    height: 100%;
    display: flex;
    flex-direction: column;
}


